<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.slimscroll.js"></script>
<script type="text/javascript" src="assets/js/i18next.min.js"></script>
<script type="text/javascript" src="assets/js/i18nextXHRBackend.min.js"></script>
<script type="text/javascript" src="assets/js/script.js"></script>
<script src="assets/js/pcoded.min.js"></script>
<script src="assets/js/demo-12.js"></script>

<script src="assets/js/data-table/jquery.dataTables.min.js"></script>
<script src="assets/js/data-table/dataTables.buttons.min.js"></script>
<script src="assets/js/data-table/jszip.min.js"></script>
<script src="assets/js/data-table/pdfmake.min.js"></script>
<script src="assets/js/data-table/vfs_fonts.js"></script>
<script src="assets/js/data-table/buttons/dataTables.buttons.min.js"></script>
<script src="assets/js/data-table/buttons/buttons.flash.min.js"></script>
<script src="assets/js/data-table/buttons/jszip.min.js"></script>
<script src="assets/js/data-table/pdfmake.min.js"></script>
<script src="assets/js/data-table/vfs_fonts.js"></script>
<script src="assets/js/data-table/buttons/buttons.colVis.min.js"></script>
<script src="assets/js/data-table/buttons/pdfmake.min.js"></script>
<script src="assets/js/data-table/buttons.print.min.js"></script>
<script src="assets/js/data-table/buttons.html5.min.js"></script>
<script src="assets/js/data-table/dataTables.bootstrap4.min.js"></script>
